$bootstrap-sass-asset-helper: false !default;
//
// Variables
// --------------------------------------------------

$primary: #585858;

// customs

$effective-green: #6aad2e;
$base-color: #585858;
$default-font-color: #ffffff