@import "custom/variables";

@media only screen and (min-width: 600px) {
    .top-page {
        background-image: url("/assets/images/header.jpg");
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }

}

.navbar {
}

.navbar-default {
    @extend .navbar-default;
    height: 120px;
    background-color:$base-color !important;
}

.panel {
    color: white;
}

.sidebar-panel {
    @extend .panel;
    margin-top: 15px;
    background-color:$base-color !important;
    padding: 15px;
}

.admonitionblock {
    margin: 20px 0px 10px 0px;
}

.admonitionblock >> .title {
    margin-right: 15px;
}

footer {
    background-color: $base-color;
    color: $default-font-color;
    padding: 15px;
}

.blog-main {
    padding: 25px;
}

a {
    color: $base-color
}