<!doctype html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    {% include header.html %}
</head>
<body>


<!-- Nav Bar -->
<div class="container">

    {% include navbar.html %}

    <!-- End Nav -->


    <!-- Main Page Content and Sidebar -->

    <div class="row">

        <!-- Main Blog Content -->
        <div class="col-sm-9" role="content">
            <div class="blog-main">
                {{ content }}
            </div>

        </div>

        <!-- End Main Content -->

        <!-- Sidebar -->

        <aside class="col-sm-3 col-sm-offset-1 blog-sidebar">

            <div><a href="/feed.xml">via RSS</a></div>


            <h4>Kategorien</h4>
            <ul id="posts" class="posts nav">
                {% assign tags_list = site.categories %}
                {% if tags_list.first[0] == null %}
                {% for tag in tags_list %}
                <li><a href="#{{ tag }}">{{ tag | capitalize }}</a></li>
                {% endfor %}
                {% else %}
                {% for tag in tags_list %}
                <li><a href="#{{ tag[0] }}">{{ tag[0] | capitalize }}</a></li>
                {% endfor %}
                {% endif %}
                {% assign tags_list = nil %}
            </ul>

            <div class="sidebar-panel">
                {% include sidebar.html %}
            </div>

        </aside>

        <!-- End Sidebar -->
    </div>
    <!-- End Main Content and Sidebar -->


    <!-- Footer -->

    <ul id="all-posts" class="posts nav">
        {% for post in site.posts %}
        <li><a href="{{ post.url }}">{{ post.shortTitle }}</a></li>
        {% endfor %}
    </ul>

    <footer class="row">
        {% include footer.html %}
    </footer>

</div>
</body>
</html>
